<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" xml:lang="en-gb" class="no-js">
    <!--<![endif]-->

    <head>
        <title>Blue Bird Bakery : Cake Specialists Brighton SA</title>
        {module_contentholder name="Sitewide - Head Tags"}


        <meta name="description" content="Stunning custom made Wedding cakes, Celebration Cakes, Kids Cakes, Corporate Cakes and Catering in Brighton SA" />
    </head>

    <body>

        <header class="page-header">
            <a href="tel:08 8298 7527" class="btn btn-primary btn-block btn-lg visible-xs"><i class="fa fa-phone fa-fw"></i> 08 8298 7527</a>
            <div class="page-header-content container">
                {module_contentholder name="Sitewide Navigation"}
            </div>
        </header>

        <section id="slider-container" class="top-section">

            <div class="ms-fullscreen-template">
                <div class="master-slider ms-skin-round" id="masterslider">
                    {module_webapps id="36756" filter="all"}
                </div>
                <!-- .master-slider -->
            </div>
            <!-- .ms-fullscreen-template -->

        </section>

        <section id="products-section">
            <div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>Welcome to Blue Bird Bakery</h1>
                        <p class="lead">We are a manufacturing bakery located in the busy Brighton Central Foodland shopping centre.</p>
                        <p class="lead">We make all our products from scratch and we buy and support local SA wherever possible. We buy our meat from Brighton City Meats
                            and our fruit and vegetables from Brighton Foodland. </p>
                        <p class="lead">We are known for our traditional fresh cream sponge cakes as well as our own unique chocolate mud cake varieties. We specialise
                            in custom designed cakes. Bring us a photo and we can design a cake around it!</p>
                        <p class="lead">We also offer Vegan, Gluten Free, Dairy Free and Egg Free alternatives.</p>
<div class="col-sm-3 col-sm-offset-3">
    <a href="/contact" class="button-void btn-block margtop10 margbtm10">Contact us</a></div><div class="col-sm-3"> <a href="/contact" class="button-void btn-block margtop10 margbtm10">Order Online</a></div>

                    </header>
                    <div class="text-center hidden">
                        <h2>Our Products</h2>
                        <p class="lead">Select an item to see more details or order online</p>

                        <div id="product-slider" class="owl-carousel owl-theme">

                            {module_webapps id="36752" filter="all"}
                        </div>
                        <!-- .products-slider -->






                        <p class="text-center onscroll-animate">
                            <a href="#" class="button-void">See all our products</a>
                        </p>
                    </div>

                </div>
                <!-- .container -->
            </div>
            <!-- .section-content -->
        </section>
        <section id="social-section">
            <header class="section-header"><h1>The Latest from Facebook</h1>
                <p><strong><a href="https://www.facebook.com/brightonbluebird/" class="button-void btn-sm margtop10 margbtm0" target="_blank"><i class="fa fa-facebook-official fa-fw"></i> Like us on Facebook</a></strong></p>
            </header>
            <div class="section-content">
{%include "/_System/apps/cbo-social-feed/_config/social-feed.tpl" -%}
            </div>


        </section>



        <section id="gallery-section">

            <header class="section-header"><h1>The Gallery</h1>
                <p class="lead">See our latest featured creations</p>
            </header>
            <div class="section-content">
                <div class="row">


                    {module_photogallery id="40195" template="" collection="homeGallery"} {%for item in homeGallery.items -%}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 nopad">


                        <a href="{{item.link}}" class="fresco" data-fresco-group="homeImages" title="{{item.description}}, Blue Bird Bakery Brighton South Australia" data-fresco-caption="{{item.description}}">
                            <div class="responsive-bg" style="height:300px; background-image:url({{item.link}})"></div>
                        </a>
                    </div>
                    {%endfor -%}



                </div>
            </div>
            <div class="gallery-button">
                <div class="container text-center white"><a href="/gallery" class="button-void">View the Full Gallery</a>
                </div>
            </div>

        </section>
        <section id="testimonials-section" class="section-dark section-color-cover">
            <div class="section-content onscroll-animate">
                <div class="container">
                    <div id="testimonials-slider" class="owl-carousel owl-theme">

                        {module_webapps id="36757" filter="latest"}
                    </div>
                    <!-- .testimonials-slider -->
                </div>
            </div>
            <!-- .section-content -->
        </section>

        <section id="sa-section" class="section-white-cover parallax-background hidden">
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/images/sa-logo.png" class="img-responsive center-block" alt="Blue Bird Bakery supports South Australia local produce and businesses" />                            </div>
                        <div class="col-sm-8">
                            <h1>We buy, sell and support local business and produce</h1>
                            <p class="blue text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmodtempor invidunt ut labore et dolore magna aliquyam
                                erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                                sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet.
                            </p>

                        </div>
                    </div>
                </div>

            </div>


        </section>

        <section id="team-section" class="hidden">
            <div class="section-content">
                <div class="container">
                    <header class="section-header onscroll-animate">
                        <h1>Team Members</h1>
                        <p class="lead">The heart of our business is our fantastic talent</p>
                    </header>
                    <div class="row">

                        {module_webapps id="36764" filter="all"}

                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <!-- .section-content -->
        </section>



        <section id="contact-section">
            <div class="section-content">

                <!-- Google map -->
                <div class="google-map">
                    <div id="map-canvas"></div>
                </div>
                <!-- /Google map -->

                <div class="container">
                    <form data-bc-formmagic="validateMode:inline;useAjax:true;afterAjax:show;messageBoxID:confirm;messageMode:box;" class="form-contact onscroll-animate text-center" id="contact-form" action="/FormProcessv2.aspx?WebFormID=10090&OID={module_oid}&OTYPE={module_otype}&EID={module_eid}&CID={module_cid}&PageID=/ajax/contact-confirm" method="post">
                        <h4>Contact Us</h4>
                        <p class="lead">Send an enquiry to our fabulous team of creative masterminds - happy to help!</p>
                        <div id="confirm"></div>
                        <input type="text" class="required margbtm10" name="FirstName" placeholder="First name">
                        <input type="text" class="required margbtm10" name="LastName" placeholder="Last name">
                        <input type="text" class="required margbtm10" name="EmailAddress" placeholder="Email address">
                        <input type="text" name="HomePhone" id="HomePhone" class="margbtm10" placeholder="Phone number (optional)">
                        <textarea name="CAT_Custom_869" rows="10" class="required margbtm10" placeholder="Your message here"></textarea>
                        {module_captchav2 backgroundColor="Black" foregroundColor="White" width="300" height="40"}
                        <div class="text-center white">
                            <button type="submit" class="button-void">Send message</button>
                        </div>
                        <p class="return-msg"></p>
                        <script>
                            $("#CaptchaV2").attr("placeholder", "Enter the characters above")
                        </script>
                    </form>
                </div>

            </div>
            <!-- .section-content -->
        </section>






    </body>

</html>